@model List<Product>

<h1>Produkter</h1>
<div class="row">
    <div class="col-md-4 mb-4">
        <a asp-action="Create" class="btn btn-success">Lägg till produkt</a>
    </div>
    <div class="col-md-4 mb-4">
        <a asp-action="Index" class="btn btn-primary">Visa priser i SEK</a>
        <a asp-action="IndexEUR" class="btn btn-primary">Visa priser i EUR</a>
    </div>
</div>
<div class="row">
    @foreach (Product product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="@product.ImgUrl" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p><strong>Pris: </strong>@product.PriceEUR €</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="POST">
                        <input type="hidden" name="productId" value="@product.Id">
                        <input type="hidden" name="returnUrl" value="@Url.Action("IndexEUR", "Products")">
                        <button type="submit" class="btn btn-primary">Lägg i varukorg</button>
                    </form>
                    <form asp-action="Details" asp-controller="Products" method="POST">
                        <input type="hidden" name="productId" value="@product.Id">
                        <button type="submit" class="btn btn-primary">Details</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
